
<section>
    <div class="card-row">
      {% for i in books1.items %}
        <div class="card-div">
            <img src="{{i.volumeInfo.imageLinks.thumbnail}}" alt="">
            <div class="info-div">
              <h5>Book-Name: {{i.volumeInfo.title}}</h5>
              <p>Author: {{i.volumeInfo.authors}}</p>
              <p>Published-Date: {{i.volumeInfo.publishedDate}}</p>
              <p>Print-Type: {{i.volumeInfo.printType}}</p>
              <p>Maturity-Rating: {{i.volumeInfo.maturityRating}}</p>
            </div>
        </div>
      {% endfor %}
    </div>
  <div class="card-row">
      {% for i in books2.items %}
        <div class="card-div">
            <img src="{{i.volumeInfo.imageLinks.thumbnail}}" alt="">
            <div class="info-div">
              <h5>Book-Name: {{i.volumeInfo.title}}</h5>
              <p>Author: {{i.volumeInfo.authors}}</p>
              <p>Published-Date: {{i.volumeInfo.publishedDate}}</p>
              <p>Print-Type: {{i.volumeInfo.printType}}</p>
              <p>Maturity-Rating: {{i.volumeInfo.maturityRating}}</p>
            </div>
        </div>
      {% endfor %}
  </div>
  <div class="card-row">
      {% for i in books3.items %}
        <div class="card-div">
            <img src="{{i.volumeInfo.imageLinks.thumbnail}}" alt="">
            <div class="info-div">
              <h5>Book-Name: {{i.volumeInfo.title}}</h5>
              <p>Author: {{i.volumeInfo.authors}}</p>
              <p>Published-Date: {{i.volumeInfo.publishedDate}}</p>
              <p>Print-Type: {{i.volumeInfo.printType}}</p>
              <p>Maturity-Rating: {{i.volumeInfo.maturityRating}}</p>
          </div>
        </div>
      {% endfor %}
  </div>
  <div class="card-row">
      {% for i in books4.items %}
        <div class="card-div">
            <img src="{{i.volumeInfo.imageLinks.thumbnail}}" alt="">
          <div class="info-div">
            <h5>Book-Name: {{i.volumeInfo.title}}</h5>
            <p>Author: {{i.volumeInfo.authors}}</p>
            <p>Published-Date: {{i.volumeInfo.publishedDate}}</p>
            <p>Print-Type: {{i.volumeInfo.printType}}</p>
            <p>Maturity-Rating: {{i.volumeInfo.maturityRating}}</p>
          </div>
        </div>
      {% endfor %}
  </div>
  <div class="card-row">
      {% for i in books5.items %}
        <div class="card-div">
            <img src="{{i.volumeInfo.imageLinks.thumbnail}}" alt="">
          <div class="info-div">
            <h5>Book-Name: {{i.volumeInfo.title}}</h5>
            <p>Author: {{i.volumeInfo.authors}}</p>
            <p>Published-Date: {{i.volumeInfo.publishedDate}}</p>
            <p>Print-Type: {{i.volumeInfo.printType}}</p>
            <p>Maturity-Rating: {{i.volumeInfo.maturityRating}}</p>
          </div>
        </div>
      {% endfor %}
  </div>
  <div class="card-row">
      {% for i in books6.items %}
        <div class="card-div">
            <img src="{{i.volumeInfo.imageLinks.thumbnail}}" alt="">
          <div class="info-div">
            <h5>Book-Name: {{i.volumeInfo.title}}</h5>
            <p>Author: {{i.volumeInfo.authors}}</p>
            <p>Published-Date: {{i.volumeInfo.publishedDate}}</p>
            <p>Print-Type: {{i.volumeInfo.printType}}</p>
            <p>Maturity-Rating: {{i.volumeInfo.maturityRating}}</p>
          </div>
        </div>
      {% endfor %}
  </div>
</section>