    {% if signupError %}
        <div class="error-div">
            <span class="error">Please fill up all the details!</span>
        </div>
    {% endif %}
    {% if idError %}
        <div class="error-div">
            <span class="error">You are not register. Please try to SignUp!</span>
        </div>
    {% endif %}
    {% if passError %}
        <div class="error-div">
            <span class="error">Password is Incorrect!</span>
        </div>
    {% endif %}
    <form action="/login/signin" method="post">
            {% csrf_token %}
            <div class="para-div">
                <h3>Welcome</h3>
                <p>Please enter your details to login!</p>
            </div>
            <div class="email-div">
                <label for="">Email-id:</label>
                <input type="email" placeholder="Enter your Email-id." name="email" >
            </div>
            <div class="password-div">
                <label for="">Password:</label>
                <input type="password" placeholder="Enter your password." name="password">
            </div>
            <div class="submit-div">
                <input type="submit" value="Login">
                <p>For SignUp <a href="/signed">Click Here</a></p>
            </div>
    </form>