<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/responsiveMain.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'font_awesome/css/all.min.css' %}" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'slick-1.8.1/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick-1.8.1/slick/slick-theme.css' %}"/>
</head>
<body>
    <div class="main-div">
        {% if signup %}
            {% include 'signup.html' %}
        {% endif %}
        {% if login %}
            {% include 'login.html' %}
        {% endif %}
        {% if home %}
            {% include 'navbar.html' %}
            {% include 'books.html' %}
            {% include 'footer.html' %}
        {% endif %}
        {% if issueBook %}
            {% include 'navbar.html' %}
            {% include 'bookIssue.html' %}
            {% include 'footer.html' %}
        {% endif %}
        {% if bookSubmit %}
            {% include 'navbar.html' %}
            {% include 'bookSubmit.html' %}
            {% include 'footer.html' %}
        {% endif %}
        {% if showIssueBook %}
            {% include 'navbar.html' %}
            {% include 'showBooks.html' %}
            {% include 'footer.html' %}
        {% endif %}

    </div>
    <script src="{% static 'JQuery/jquery-3.6.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'slick-1.8.1/slick/slick.js' %}"></script>
    <script type="text/javascript" src="{% static 'slick-1.8.1/slick/slick.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>